    {{!-- Footer con enlaces a paginas de preprocesadores --}}
    <div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://haml.info/" class="nav-link px-2 text-muted">Haml</a></li>
        <li class="nav-item"><a href="https://github.com/Diartch25/slim-preprocessor" class="nav-link px-2 text-muted">Slim</a></li>
        <li class="nav-item"><a href="http://blog.alejandromolero.com/plantillas-html-con-jade/" class="nav-link px-2 text-muted">Jade</a></li>
        <li class="nav-item"><a href="https://openwebinars.net/blog/stylus-pre-procesador-css/" class="nav-link px-2 text-muted">Stylus</a></li>
        <li class="nav-item"><a href="https://programacion.net/articulo/aprende_less_en_15_minutos_1297" class="nav-link px-2 text-muted">Less</a></li>
        <li class="nav-item"><a href="https://desarrolloweb.com/articulos/que-es-sass-usar-sass.html" class="nav-link px-2 text-muted">Sass</a></li>
        <li class="nav-item"><a href="https://www.arsys.es/blog/postcss" class="nav-link px-2 text-muted">PostCSS</a></li>
        </ul>
        <br>
        {{!-- Nombre, apellido, contacto en redes sociales y correo --}}
        <u><p class="text-center text-muted">Alejandro Cisak</p></u>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
            <a class="social" href="https://www.facebook.com/alejandro.cisak"><img class="contact" src="/images/5296499_fb_facebook_facebook logo_icon.png" alt=""></a>
            <br>
            <a class="social" href="https://www.instagram.com/alejandro.cisak/"><img class="contact" src="/images/5296765_camera_instagram_instagram logo_icon.png" alt=""></a>
            </div>
        <u><p class="text-center text-muted">aleobera20@gmail.com</p></u>
    </footer>
    </div>



       