<nav>
    <a class="link" href="/">Inicio
        </a>
    <a class="link" href="/preprocesadores">Preprocesadores
        </a>
    <a class="link" href="/formulario">Formulario
        </a>
    <a class="link" href="/contacto">Contacto
        </a>
    <a class="link" href="/listado">Listado
        </a>
        
</nav>