



<div class="container">

<div class="text-center m-5 text-white">
    <hr>
    <h1>
        {{ titulo }}
    </h1>
    <hr>

    <ul class= text-white>
        <li><h3>{{ nombre }}</h3></li>
        <li><h3>{{ email }}</h3></li
    </ul>  
</div>
</div>