<div class="text-center m-5">
    <hr>
    <hr>
    <h1>
        {{ titulo }}
    </h1>
    <hr>
    <hr>
</div>
    
    <div class="main">
    <h1>Preprocesadores HTML</h1>
    <ul class="cards">
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/Haml_1-5_logo.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">Haml</h2>
            <p class="card_text">Haml es un lenguaje de marcado ligero que se usa para describir el XHTML de un documento web sin emplear el código embebido tradicional. Está diseñado para solucionar varios problemas...</p>
            <a href="/haml">
            <button class="btn card_btn">Leer mas...</button>
            </a>
            </div>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/rainbow-wave-abstract-background-free-vector.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">Slim</h2>
            <p class="card_text">Slim es un lenguaje de plantillas, cuyo objetivo es reducir la sintaxis de las partes esenciales sin llegar a ser críptico. El diseño inicial de Slim es comenzó como un ejercicio para ver cuánto podría...</p>
            <a href="/slim">
            <button class="btn card_btn">Leer mas...</button>
            </a>
            </div>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/logo_jade.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">Jade</h2>
            <p class="card_text">Jade es un motor de plantillas que simplifica la sintaxis de html, agiliza y facilita el proceso de desarrollo de plantillas html.
            Para poder trabajar con Jade, necesitas tener instalado Nodejs y después...</p>
            <a href="/jade">
            <button class="btn card_btn">Leer mas...</button>
            </a>
        </div>
        </li>
    </ul>
    </div>
    <br><hr><br><hr><br>
    <div class="main">
    <h1>Preprocesadores CSS</h1>
    <ul class="cards">
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/Stylus-logo.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">Stylus</h2>
            <p class="card_text">Stylus es uno de estos pre-procesadores que vienen para ayudarte en tu tarea de creación de hojas de estilo. Stylus está construido sobre Node,JS por lo tanto tendrás que instalarlo primero en tu...</p>
            <a href="/stylus">
            <button class="btn card_btn">Leer mas...</button>
            </a>
            </div>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/1200px-LESS_Logo.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">Less</h2>
            <p class="card_text">Less está desarrollado en JavaScript, y necesita de Node.js o de un navegador web para funcionar. Puedes incluir less.js en tu sitio web y compilar todas las hojas de estilo .less en tiempo real, pero es...</p>
            <a href="/less">
            <button class="btn card_btn">Leer mas...</button>
            </a>
            </div>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/1200px-Sass_Logo_Color.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">SASS</h2>
            <p class="card_text">Comenzamos con este artículo el Manual de Sass, en el que vamos a explicarte las bases para que puedas usar Sass y beneficiarte de todas las ventajas de los preprocesadores CSS. Sass es...</p>
            <a href="/sass">
            <button class="btn card_btn">Leer mas...</button>
            </a>
        </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img src="/images/postcss-logo.jpg"></div>
            <div class="card_content">
            <h2 class="card_title">PostCss</h2>
            <p class="card_text">En este artículo te vamos a hablar de PostCSS, la herramienta más completa para trabajar con CSS que existe en la actualidad. PostCSS permite una increíble cantidad de mejoras....</p>
            <a href="/postcss">
            <button class="btn card_btn">Leer mas...</button>
            </a>
        </div>
        </li>
    </ul>
    </div>
