h1 {
    color: aliceblue;
}
h3 {
    color: aliceblue;
    margin-left: 10%;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #6BFFAE, 0 0 40px #6BFFAE, 0 0 50px #6BFFAE, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
    text-shadow: 0 10 20px #fff, 0 0 30px #FFC701, 0 0 40px #000000, 0 0 50px #FFC701, 0 0 60px #FFC701, 0 0 70px #3b3b3b, 0 0 80px #000000;
}
}
p {
    color: aliceblue;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.music {
    margin-left: 10%;
    border-radius: 20px 0px 20px 0px;
}
.music:hover{
    background-color: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #fffb8d,
                0 0 25px #fffb8d,
                0 0 50px #fffb8d,
                0 0 200px #fffb8d ;
                transition: 0.5s;
}

img {
    height: 3em;
    width: 3em;
}

.profile { 
    height: 30em;
    width: 20em;
    float: right;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    filter: drop-shadow(0 0 0.75rem #fcff44);

}



